* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
    overflow: hidden;
}

nav {
    display: flex;
    justify-content: end;
    gap: 1rem;
    padding: 10px 10px 0 0;
}

header > #title {
    margin: 60px 0px 25px 40px;
    color: #d93025;
    font-size: 20px;
}

section {
    margin: 50px 0 0 40px;
    display: flex;
    gap: 10px;
    color: #222222;
}

#form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#form-container > #section-title {
    font-size: 1rem;
    margin-bottom: 5px;
    color: #333333;
}

#search-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 0.82rem;
}

#search-form > fieldset {
    display: flex;
    border: transparent;
    gap: 10px;
}

fieldset > .label-ctn {
    display: flex;
    align-items: center;
    min-width: 167px;
    width: 16%;
    height: 30px;
}

input[type="text"] {
    flex: 1;
    border: solid 1px #ccc;
    min-height: 30px;
    padding-left: 5px;
}

#q-submit {
    width: fit-content;
    height: 30px;
    padding: 5px 10px;
    background-color: #4d90fe;
    border: 1px solid #3079ed;
    border-radius: 2px;
    color: white;
    margin-top: 10px;
    margin-left: auto;
    font-weight: 700;
}

#q-submit:hover {
    cursor: pointer;
    background-color: #357ae8;
}

#descriptions-ctn {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #222222;
}

#descriptions-ctn > #dsc-title {
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 5px;
    color: #777777;
}

#descriptions-ctn > .input-dsc {
    font-size: 11px;
    display: flex;
    align-items: center;
    height: 30px;
    border: solid 1px rgb(40, 40, 40, 0);
}


@media (max-width: 1036px) {
    #descriptions-ctn {
        display: none;
    }
}

@media (min-width: 800px) {
    #form-container {
        width: 768px;
    }
} 

@media (max-width: 800px) {
    #form-container {
        width: 97%;
    }
}

@media (max-width: 440px) {
    fieldset {
        flex-direction: column;
    }
}